.sidebar-icon-only .navbar {
    left: 70px !important;
}
 .header-dropdowns .dropdown-menu a, .header-dropdowns .dropdown-menu p {
    color: var(--bs-gray) !important;
}
.header-dropdowns .dropdown-menu h6{
    color: var(--bs-dark) !important;
}
.top-nav .nav-item{
    line-height: 1 !important;
}
.top-nav .nav-item.active {
    background: var(--bs-green) !important;
    color: var(--bs-white) !important;
  
  }

@media only screen and (max-width: 992px) {
    .navbar {
        left: 0 !important;
    }
    .sidebar-icon-only .navbar {
        left: 0px !important;
    }

}
@media only screen and (max-width: 767px) {
    .form-card .card-header,.form-card nav{
        flex-direction: column;
    }
    .form-card .pagination {
        margin-top: 10px;
    }

}